.custom_nav_acceuil
{
    margin-top: 6%;
    margin-left: 15%;
}
.custom_nav_acceuil li a
{
    color: rgba(255, 255, 255, 0.2);
}
.custom_nav_acceuil li a.active
{
    border-bottom: 2px solid white;
    background-color: inherit;
    border-radius: 0px;
    padding-bottom: 2px!important;
    color:white;
}
.custom_nav_acceuil li a
{
    color:white;
}

.custom_nav_acceuil li a:hover
{
    cursor: pointer;
    color:white;
    background-color: inherit;
}