<ul class="nav nav-pills custom_nav_acceuil">
    <li><a [routerLink]="['/signin']" routerLinkActive="active">Se connecter</a></li>
    <li><a [routerLink]="['/signup']" routerLinkActive="active">Creer un compte</a></li>
  </ul>
