.humbuger
{
    display:none;
    color:white;
    cursor:pointer;
}
@media screen and (max-width:992px)
{
    .humbuger
    {
        display:block;
    }
    .inver-humberger
    {
        display: none;
    }
    .itemLinkNavWithTransition
    {
        left: 50%;
        visibility: visible;
    }
}