<div class="dropDown itemLinkNavLink">
    <div class="dropDownBtn">
        <app-avatar image="./assets/img/avatar.png" className="userProfile" alt="User Profile" width="55px" height="55px" ></app-avatar>
        <ng-container *ngIf="showingVerticalNavLink; then showingVerticalNavLinkResult; else noShowingVerticalNavLinkResult"></ng-container>
        <ng-template #showingVerticalNavLinkResult><i class="fa fa-times fa-3x humbuger"  (click)="handleClick($event)"></i></ng-template>
        <ng-template #noShowingVerticalNavLinkResult><i class="fa fa-bars fa-3x humbuger"  (click)="handleClick($event)"></i></ng-template>
        <i class="fa fa-ellipsis-v fa-3x inver-humberger"></i>
    </div>            
    <app-drop-down-avatar-content className='dropDown-containerElemnt' class='dropDown-container' image="./assets/img/avatar.png"  data={props.userData}></app-drop-down-avatar-content>
</div>
