.dropDown
{
    cursor:pointer;
}
.dropDownBtn 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropDownBtn i{
    margin-left: 10px;
    color: rgb(255,255,255);
}
.dropDown-container
{
    visibility: hidden;
    /* display:none; */
    position: absolute;
    z-index: 1;
    right:15px;
    margin-top:-15px;
    opacity: 0;
    transition: all 0.4s ease;
}

.dropDown:hover> .dropDown-container
{
    visibility: visible;
    opacity: 1;
    margin-top: 5px;
}
.dropDown:hover> .dropDown-container::before
{
    content:' ';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid rgba(49,87,160,0.74);
    left:80%;
    top:-9px;
    z-index:1;
}
