footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    /* background-image:linear-gradient(to top right, #1D1237, #523E8E); */
    background-color: #1976d2;
    color:white;
    height: 50px;
    align-items: center;
}

footer i{
    margin-right: 10px;
}
footer i.fa-envelope
{
    cursor: pointer;
}