<footer>
    <div class="author"><span>Par Cédric Nguendap</span></div>
    <div class="follow">
        <i title="cednguendap@gmail.com" class="fa fa-envelope"></i>
        <i class="fa fa-copyright"></i>
        <span>{{year | date: 'y'}}</span>
    </div>
</footer>
