.imgAccueil
{
    background-color: rgba(102,138,209,0.89);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
}

.imgAccueil img
{
    width: 100%;
    height: 100%;
}
.footerAccImg
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    color: #FFFCFC;
    margin-top: 15px;
    margin-bottom: 15px;
}