.content-modal
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.entete-modal-notuse 
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.entete-modal-notuse input
{
    
    width: 95%;
    background-color: rgba(0,0,0,0.1);
}
.periode-defined
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.periode-defined label
{
    margin-right: 10px;
}
input
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0,0,0,0.6);
}
input:focus
{
    border-bottom-color: rgba(255, 0, 0, 0.2)!important;
}
label
{
    font-weight: normal;
}
.action-dispo
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.action-dispo span
{
    cursor: pointer;
}
.action-dispo span i
{
    margin-right: 7px;
}
.fa-plus
{
    color: green;
}
.fa-minus
{
    color:rgba(255, 0, 0, 0.4)
}

.fa-trash
{
    color: rgba(255, 0, 0, 0.8);
}
.textDispoJourne
{
    margin-left: 10px;
}