.modal-box-footer
{
    /* display: flex;
    flex-direction: row; */
    padding: 10px;
}

.modal-box-footer-content 
{
    text-align: right;
}
.modal-box-footer-content button
{
    width: 90px;
    margin-left: 10px;
}
.modal-box-footer-content button:hover
{
    background-color: white;
}
