<div [class]="className" >
    <a ><span>Profile</span><i class='fa fa-user'></i></a>
    <a ><span>Parametre</span><i class="fa fa-cog"></i></a>
    <a (click)="logout()"><span>Déconnexion</span><i class="fa fa-sign-out"></i></a>
</div>
