.dropDown-containerElemnt
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(49,87,160,0.74);
    /* width:12%; */
    border-radius: 5px;
    padding-top:5px;
    padding-bottom: 5px;
}
.dropDown-containerElemnt i
{
    color:white;
    margin-right: 5px;
}

.dropDown-containerElemnt span
{
    margin-left:10px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 46px;
    color: #FFFFFF;
}
.dropDown-containerElemnt a
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5px;
    height: 50px;
    font-size: 20px;;
    
    cursor:pointer;
}
.dropDown-containerElemnt a:hover
{
    border-color:rgba(255,255,255,0.5);
    background:rgba(18, 33, 61, 0.9);
}
@media screen and (max-width:600px)
{
    .dropDown-containerElemnt
    {
        width:100%;
    }
}
