.content-modal
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.message-dispo-not-use
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}
.message-dispo-not-use .message-lab-dispo
{
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

.entete-modal-notuse 
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.entete-modal-notuse input
{
    
    width: 95%;
    background-color: rgba(0,0,0,0.1);
}
.periode-defined
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.periode-defined label
{
    margin-right: 10px;
}
.input_title_event
{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.input_title_event:focus
{
    border-bottom-color: rgba(255, 0, 0, 0.2)!important;
}
label
{
    font-weight: normal;
}
.action-dispo
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.action-dispo span
{
    cursor: pointer;
}
.action-dispo span i
{
    margin-right: 7px;
}
.fa-plus
{
    color: green;
}
.fa-minus
{
    color:rgba(255, 0, 0, 0.4)
}

.fa-trash
{
    color: rgba(255, 0, 0, 0.8);
}
.textDispoJourne
{
    margin-left: 10px;
}
.no-free-dispo
{
    font-style: italic;
    color: rgba(0,0,0,0.5);
}