<app-modal-box OkBtnText="Notifier" [show]="show" (eventClose)="close()" (eventRefuseEvent)="clear()" (eventAcceptEvent)="submit()" showNoBtn=true showOkBtn=true width="60%" headerforeground="white" headerbackground="rgba(0, 25, 112, 0.5)" title="Demander une disponibilité">
    <app-modal-box-body>
        <form [formGroup]="form">
            <div class="content-modal">
                <div class="message-dispo-not-use">
                    <span for="" class="message-lab-dispo">Description:</span>
                    <div class="contenu-not-use">{{labMessage}}</div>
                </div>     
                <div class="message-dispo-explication">
                    Veuillez choisir les périodes de disponibilité que vous voulez obtenir
                </div>           
                <div class="periode-defined" *ngFor="let horaire of horaires;let i=index">
                    <div class="start_period">
                        <label class="start-period-label">Debut: {{horaire.startTime}} </label>                   
                    </div>
                    =>
                    <div class="end-period">
                        <label for="start-period-input" class="start-period-label">Fin: {{horaire.endTime}}</label>
                    </div>    

                    <button *ngIf="horaire.status.length==0 || horaire.status==true; else showNoFreeDispo" class="btn btn-ask-dipos" [id]="i" (click)="askDisponibility($event)">
                        <span  *ngIf="findReservedDisponibility(horaire)>-1; else showRemoveDispo">
                            <i class="fa fa-minus">Annuler</i> 
                        </span>
                        <ng-template #showRemoveDispo><i class="fa fa-plus"></i>Confirmer</ng-template>
                    </button>    
                    <ng-template #showNoFreeDispo><span class="no-free-dispo">Occupé</span></ng-template>      
                </div>
                <div class="entete-modal-notuse">
                    <label>Laissez un message: </label>
                    <textarea  [formControlName]="'message'" name="title_event" class="input_title_event"></textarea>
                </div>
            </div>
        </form>
    </app-modal-box-body>
</app-modal-box>