.home-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(121,168,169);
    color:white;
    height: 30%;
    margin-top: 6%;
    margin-left: 30%;
}
.home-div .welcome-msg
{
    font-size: 40px;
}
.home-div .homeNameApp
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
    align-items: center;
}
.home-div .description
{
    font-size: 11px;
}
@media screen and (max-width:700px)
{
    .home-div
    {
        margin-left: 8%;
    }
}
@media screen and (max-width:300px)
{
    .home-div
    {
        margin-left: 5%;
        height: 8%;
    }
    .home-div .welcome-msg
    {
        font-size: 30px;
    }

}