<div class="home-div col-xs-10 col-sm-5">
    <span class="welcome-msg">Bienvenu sur</span>
    <app-logo src="./assets/img/logo_sans_arriere.png" alt="Logo App" nameApp="" width="100%" height="100%" ></app-logo> 
    <span class="homeNameApp">Oyasie <span class="description">Votre outil de gestion de rendez-vous</span></span>
</div>
