<header class="headerNavBar">
    <app-logo src="./assets/img/logo_sans_arriere.png" alt="Logo App" nameApp="Oyasie" width="50px" height="50px" ></app-logo>
    <app-nav-bar-link   [data]="data"></app-nav-bar-link>
</header>
