.headerNavBar
{
    display: flex;
    height:60px;
    flex-direction: row;
    background:#3157A0;
    padding-left:2%;
    padding-bottom:10px;
    justify-content:space-between;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
