.search-box
{
    display: flex;
    flex-direction: column;
}
.custom-search-form
{
    border-radius: 10px;
    border:1.5px solid rgba(144, 11, 45, 0.8);
    background: white;
    z-index: 1!important;
}
.custom-search-icon
{
     border:1.5px solid rgba(144, 11, 45, 0.8); 
    background: rgba(144, 11, 45, 0.8);
    color: white;
    border-radius: 0px 10px 10px 0px;
}
.fa-search
{
    font-size: 17px;
}
.search-box-content
{
    text-align: center;

}
.container-user
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:3px;
    border: 2px solid rgba(127, 127, 127, 0.7);
    height: 320px;
    overflow-y: auto;
    
}
.searched-user
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: rgba(0,112,26,0.7);
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
}
.searched-user:hover
{
    background-color: rgba(0,112,26,0.9);
}

.search-box-help
{
    color: white;
    background-color: rgba(0,112,26,0.7);
    cursor: pointer;
}
.search-box-help:hover
{
    background-color: rgba(0,112,26,0.8);
}

.msg-help
{
    margin-left: 5px;
    font-size: 16px;
}
.search-box-help i{
    font-size: 18px;
}

.msg-user-not-found
{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: rgba(127, 127, 127, 0.8);
}