<div class="search-box">
    <div class="form-group ">
        <div class="input-group">
          <input type="text" (keyup)="submit($event)" [formControl]="input" class="form-control custom-search-form" id="exampleInputAmount" placeholder="Rechercher...">
          <div  class="input-group-addon custom-search-icon"><i class="fa fa-search"></i></div>
        </div>
      </div>
      <div class="search-box-content">
          <div class="container-user">
              <!-- user.image -->
                <div *ngFor="let user of users" (click)="selectUser(user.id)" class="searched-user">
                    <app-avatar image="./assets/img/avatar.png" className="userProfile" alt="User Profile" width="45px" height="45px" ></app-avatar>
                    <span class="user-name">{{user.name}}</span>
                </div>
                <div *ngIf="users.length===0" class="msg-user-not-found">
                    Aucun utilisateur trouvé
                </div>
          </div>
          <div class="search-box-help">
              <i class="fa fa-question-circle"></i>
              <span class="msg-help">Aide</span>
          </div>
      </div>
</div>
