<main>
    <div class="custom_form">
        <app-nav-accueil></app-nav-accueil>
        <div class="accueil">
            <div class="col-12 col-md-6 loginComponent">
                <router-outlet></router-outlet>
            </div>
            <div class="col-12 col-md-6 imgComponent">
                <app-slider></app-slider>
            </div>
        </div>
        <app-footer-acceuil></app-footer-acceuil>
    </div>
</main>