main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:linear-gradient(to top right, #1D1237, #523E8E);
}
.accueil
{
    background: rgba(255, 255, 255, 0.8);
    margin: 0% 15% 0% 15%;
    padding-top: 15px;
    padding-bottom: 15px;
} 

.loginComponent,
.imgComponent
{
    float: none;
    display: inline-block;
    vertical-align: middle;
}