<div class="disponibilite col-md-8">
    <app-calendar [data]="dataForColorCalendar"  (eventSelect)="handleCelClick($event)"></app-calendar>
  
    <app-modal-box-unused-period (eventClose)="hideUnUsedModal()" (eventDefinition)="addDisponiblity($event)" [show]="showUnUsedModal" ></app-modal-box-unused-period>
    <app-modal-box-used-period (eventClose)="hideUsedModal()" [show]="showUsedModal" ></app-modal-box-used-period>
 
    <app-flash-message [duration]="durationFlashMessage" [show]="showFlashMessage" [type]="typeFlashMessage" [content]="messageFlashMessage"></app-flash-message>
</div>
