.disponibilite
{
    margin-left: 15%;
    margin-top: 4%;
}
@media screen and (max-width:992px)
{
    .disponibilite
    {
        margin-left: 1%;
    }
}
@media screen and (max-width:600px)
{
    .disponibilite
    {
        margin-left: 0.5%;
    }
}
@media screen and (max-width:410px)
{
    .disponibilite
    {
        margin-left: 0px;
        padding-left: 0px;
    }
}