<div class="modal-box-header" [ngStyle]="{'color':textcolor,'background-color':bgcolor}">
    <span class="modal-box-header-title">{{modalTitle}}</span>
    <span class="modal-box-header-btn-close" (click)="close()"><i class="fa fa-close"></i></span>
</div>
