<div class="rechercher">
    <app-calendar [data]="dataForColorCalendar" (eventSelect)="handleCelClick($event)" class="col-md-9 col-sm-9 rechercher-calendar"></app-calendar>
    <app-search-box (eventSelectedUser)="handleUserClick($event)" [data]="dataUser" class="col-md-3 col-sm-3 rechercher-search-box"></app-search-box>
    <app-modal-box-ask-period [dataDispo]="dataForAskDisponibility" (eventClose)="hideModal()" (eventDefinition)="addNotification($event)" [show]="showAskDisponibilityModal" ></app-modal-box-ask-period>
    <app-flash-message [duration]="durationFlashMessage" [show]="showFlashMessage" [type]="typeFlashMessage" [content]="messageFlashMessage"></app-flash-message>
</div>
