.custom_footer_acceuil
{
    float: right;
    margin-right: 15%;
}

.custom_footer_acceuil li a,
.custom_footer_acceuil_decoration a,
.custom_footer_follow_logo li span
{
    margin: 0;
    padding: 10px 5px;
    font-size: 13px!important;
}
.custom_footer_acceuil li,
.custom_footer_acceuil li a
{
    color:white;
}

.custom_footer_acceuil li.custom_footer_acceuil_decoration:hover
{
    cursor: pointer;
    color:white;
    background-color: inherit;
    text-decoration: underline;
}
.custom_footer_acceuil li i
{
    margin-left: 5px;
    color:white;
}
.custom_footer_acceuil li a:hover
{
    cursor: pointer;
    color:white;
    background-color: inherit;
}
.custom_footer_follow_logo
{
    margin: 10px 15px;
}
.custom_footer_follow_logo i
{
    margin-left: 15px!important;
    font-size: 13px;
    cursor: pointer;
}
/* i.fa-google-plus
{
    color:rgba(241, 89, 89, 0.6)!important;
}
i.fa-facebook-square
{
    color:blue;
} */