    <ul class="nav nav-pills custom_footer_acceuil ">
        <li class="custom_footer_acceuil_decoration"><a >A propos</a></li>
        <li class="custom_footer_acceuil_decoration"><a>Termes d'utilisation</a></li>
        <li class="custom_footer_follow_logo"> <span>Suivez nous sur</span> <i class="fa fa-google-plus" data-toogle="tooltip" title="Google" ></i> <i class="fa fa-facebook-square" data-toogle="tooltip" title="Facebook"></i></li>
      </ul>
