.avatar {
    justify-items: center;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
}

.avatar img {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarStart
{
    position:absolute;
    margin-left:40%;
}


.userName {
    color: white;
}
