.flash-message
{
    position: fixed;
    font-size: 14px;
    top: 15px;
    float: right;
    right: 15px;
    z-index: 10;
    color:white;
    /* opacity: 0.83; */
    padding: 20px;
    width: 300px;
    animation-name: animationsWitdh;
    animation-direction: alternate;
    animation-duration: 0.5s;
    /* visibility: hidden; */
}
/* Color*/
.danger
{
    background-color: #f44336;
}
.success
{
    background-color: #4CAF50;
}
.info
{
    background-color: #2196F3;  
}
.warning
{
    background-color: #ff9800;
}

/*Animation*/
@keyframes animationsWitdh
{
    from {
        width: 1px;
    }
    to{
        width:300px;
        visibility: visible;
    }
}