.header-logo
{
    text-align: left;
    display:grid;
    grid-auto-flow: column;
    align-content: center;
}
.header-logo img
{
    margin-top: 5px;
}
.nameApp
{
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    margin-left:0px;
    padding-bottom:10px;
    margin-top:10px;
}
