<div class='navBarLink'>
    <nav >        
        <div class="linkContainer itemLinkNavLink">
            <a class="navBarLinkItem" routerLinkActive="active" *ngFor="let item of data" [routerLink]="[item.link]">{{item.value}}</a>
        </div>
    </nav>
    <div>
        <div>
            <app-drop-down-menu></app-drop-down-menu>
        </div>
        <div>
            <app-drop-down-avatar ></app-drop-down-avatar>              
        </div>
    </div>
</div>
