.navBarLink
{
    display:flex;
    text-align: right;
    margin-right: 15px;
}
.navBarLink nav
{
    margin-top: 22px;
    margin-right: 10px;
}
.navBarLinkItem
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size:17px;
    line-height: 35px;
    color: rgba(229, 229, 229, 0.5);
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
    background: #3157A0;    
    padding:5px;
    margin-left:10px;
    text-decoration: none;
    width:25px;
}
.navBarLink .active
{
    color: white;
    border-bottom: 5px solid #93AE75;
}
.navBarLinkItem:hover
{
    color: white;
    border-bottom: 5px solid rgba(147,174,117,0.6);
}


@media screen and (max-width:992px)
{    
    .itemLinkNavLink 
    {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        position: fixed;
        z-index:1;
        margin: 0;
        padding: 0;
        left:100%;
        background-color:rgba(49,87,160,0.74);          
        width:50%;
        height: 100%;
        border:none;
        transition: all 0.5s ease;
    }    
    .navBarLinkItem
    {
        width: 100%;
        border:none;
        background:none; 
        text-align: center;
        border-bottom: 2px solid white;
        border-radius: 0px;
        margin:0;
    }
    .navBarLinkItem:hover
    {
        background:black;
    }    
}
@media screen and (max-width:600px)
{
    .itemLinkNavLink
    {
        width:100%;
    }
}
