<form  (ngSubmit)="submit()" [formGroup]="form">
    <ng-container *ngFor="let child of childs">
        <!-- " [ngClass]="{
            'has-success':control(child.name).value.length>=1 && !control(child.name).errors,
            'has-error':control(child.name).value.length>=1 && control(child.name).errors
            } -->
        <div class="form-group has-feedback ">
            <div [class]="'input-group input-group-md '+child.class">
                <span class="input-group-addon custom-span-input"  [innerHtml]="child.icon"></span>
                <input [type]="child.type" [formControlName]="child.name" [id]="child.id" class="form-control custom-input" [placeholder]="child.placeholder" [attr.aria-describedby]="child.id+'Statut'" [ngClass]="{ 'is-invalid': control(child.name).value.length>=1 && control(child.name).errors}">
            </div>
            <ng-container *ngIf=" control(child.name).value.length>=1">
                <span class="glyphicon form-control-feedback" [ngClass]="control(child.name).errors?'glyphicon-remove':'glyphicon-ok'" aria-hidden="true"></span>
                <span id="child.id+'Statut'" class="sr-only" [innerHtml]="control(child.name).errors?'(errors)':'(success)'"></span>                 
            </ng-container>            
        </div>        
        <!-- <app-tooltip text="hover" hovertext="toolhover"></app-tooltip> -->

        <ng-container *ngIf="child.span!==undefined">
            <span [ngClass]="child.span.class">{{child.span.text}}</span>
        </ng-container>        
    </ng-container>
    <button [disabled]="!form.valid || (submitted && waiting) " type="submit" class="btn custom-submit-btn">
        <span></span>
        {{textBtn}}</button>
    <p *ngIf="submitted" class="form-error-message">{{textError}}</p>
    <p *ngIf="waiting" class="form-waiting-message">{{textWaiting}}</p>
</form>
  