/* button*/
.custom-submit-btn
{
    border-radius: 20px;
    background-color: #94AF76;
    width: 160px;
    margin-top:20px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 23%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.emailExample
{
    color: #868E8F;
    font-size: x-small;
    margin-left: 15px;
}
/*Custom input*/

.custom-input
{
    border: 3px solid #2D9CDB;
    border-radius: 20px;
    width: 90%;
}

.custom-span-input
{
    border-radius: 20px 0 0 20px;
    border: 3px solid #2D9CDB;
    border-right: 0px;
    background-color: #2D9CDB;
    color:#E5E5E5;
}
/*end custom input*/
/* span error*/
.form-error-message
{
    text-align: center;
    color:red;
}
/*end span error*/

.form-waiting-message
{
    text-align: center;
    font-style: italic;
}
