main {
    display: flex;
    min-height: 84.2vh;
    flex-direction: column;
    padding-top: 20px;
    flex:1 0 auto;
}
/* body 
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}
main
{
    flex:1 0 auto;
} */