<app-modal-box OkBtnText="Modifier" (eventClose)="close()" [show]="show" (eventRefuseEvent)="clear()" (eventAcceptEvent)="submit()" showNoBtn=true showOkBtn=true width="60%" headerforeground="white" headerbackground="rgba(0, 112, 26, 0.7)" title="Modifier votre disponibilité">
    <app-modal-box-body>
        <form [formGroup]="form">
            <!-- <div class="content-modal">
                <div class="entete-modal-notuse">
                    <label>Titre: </label>
                    <input type="text" [formControlName]="'title'" name="title_event" class="input_title_envent">
                </div>
                <div *ngFor="let period of disponibility" class="periode-defined">
                    <div class="start_period">
                        <label for="start-period-input" class="start-period-label">Debut: </label>
                        <input type="time" [formControlName]="period.formControlStartTimeName" name="start-period-input">                    
                    </div>
                    <div class="end-period">
                        <label for="start-period-input" class="start-period-label">Fin: </label>
                        <input type="time" [formControlName]="period.formControlEndTimeName" name="end-period-input"> 
                    </div>                
                </div>
                <div class="action-dispo">
                    <span (click)="addDisponibility()"><i class="fa fa-plus"></i>Ajouter une nouvelle disponibilité</span>
                    <span (click)="removeDisponibility()"><i class="fa fa-minus"></i>Supprimer une disponibilité</span>
                    <span ><input type="checkbox" [checked]="dispoJourne" name=""  id="dispojourne" #dispojourne><label for="dispojourne" (click)="setDispoJournee()"  class="textDispoJourne">Disponible toute la journée</label></span>
                    <span (click)="reinitialized()"><i class="fa fa-trash"></i>Réinitialiser</span>
                </div>
            </div> -->
        </form>
    </app-modal-box-body>
</app-modal-box>