<div class="calendar col-sm-12">
    <div class="cal-header-label">
        <div class="cal-month-label">
            <i class="fa fa-calendar"></i>
            <span class="cal-month" (click)="showCalendar()">{{getCurrentMonth()}} {{currentMonth | date: 'y'}}</span>
        </div>
        <div class="cal-setting">
            <i class="fa fa-cog"></i>
        </div>
    </div>
    <div class="cal-body" [ngStyle]="{'grid-template-rows': '20px repeat('+getNumberOfRow()+', 70px [col-start])' }">
        <span class="cal-header-day cal-day" *ngFor="let day of daysLab" [innerHtml]="day"> </span>
        <app-day-cell *ngFor="let day of days" (click)="handleCellClick($event)" class="cal-container-body cal-week" [value]="day.value!==0?day.value:''"   [ngClass]="{'cal-not-element':day.value===0,free_day:day.statut=='free',nofree_day:day.statut=='no_free'}" ></app-day-cell>
    </div>
    <div class="cal-footer">
        <i (click)="previousWeek()" class="fa fa-chevron-left fa-2x"></i>
        <i (click)="nextWeek()" class="fa fa-chevron-right fa-2x"></i>
    </div>
</div>

