.calendar
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cal-header-label
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(25,118,210,0.8);
    font-size: 16px;
    margin-left: 15px;
    margin-right: 5px;
}

.cal-month
{
    margin-left: 7px;
}
.cal-setting i
{
    font-size: 18px;
    cursor: pointer;
}
.cal-setting i:hover
{
    color: #93AE75;
}
.cal-body
{
    display: grid;
    grid-template-columns: repeat(7, 1fr [col-start]); 
}
.cal-header-day
{
    color:white;
    background-color: rgba(25,118,210,0.7);;
    text-align: center;
    /* height: 20px; */
}
.cal-header-day:first-child
{
    padding-left:15px;
}
.cal-week
{
    border:1px solid #7F7F7F;
    border-left-width:0px;
    border-top-width:0px;
    border-bottom-width:1px;
    color: rgba(36, 44, 46, 0.85);
    cursor: pointer;
}
.free_day,
.nofree_day
{
    color: #E5E5E5;
}
.free_day
{
    background-color: rgba(0, 112, 26, 0.7);
}
.nofree_day
{
    background-color: rgba(216, 58, 58, 0.7);
}
.cal-week:hover
{
    /* color: white!important; */
    /* background-color: black; */
}

.cal-body :nth-child(7n+1)
{
    border-left-width: 1px;
}
.cal-footer
{
    margin-top: 10px;
    margin-left: 88%;
}
.cal-footer i
{
    color:rgba(25,118,210,0.8);;;
    cursor: pointer;
}
.cal-footer i:hover
{
    color: #93AE75;
}
.cal-footer .fa-chevron-left
{
    margin-right: 15px;
}

.cal-not-element
{
    background: rgba(127, 127, 127, 0.2);
}
@media screen and (max-width:500px)
{
    .cal-footer
    {
        margin-left: 80%;
    }
}